<div class="main">
  <h1>My To Do List</h1>

  <h2>What would you like to do today?</h2>
  <h2>{{ items.length }} <span *ngIf="items.length === 1; else elseBlock"> item </span>
  <ng-template #elseBlock>items</ng-template>
  </h2>
  <ul>
    <li *ngFor="let i of items">
      <app-item> [item]="i" (remove)="remove(item)"</app-item>
    </li>
  </ul>

  <label for="addItemInput">
    <input
      #newItem
      placeholder="add an item"
      (keyup.enter)="addItem(newItem.value)"
      id="addItemInput"
      class="lg-text-input" />

    <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>
  </label>
</div>
