<div class="main">
  <h1>My To Do List</h1>
  <label for="addItemInput">What would you like to do today?</label>

  <h2>
    {{ items.length }} <span *ngIf="items.length === 1; else elseBlock"> item </span>
    <ng-template #elseBlock>Items</ng-template>
  </h2>
  <ul>
    <li *ngFor="let i of items">
      <app-item [item]="i" (remove)="remove(i)"></app-item>
    </li>
  </ul>

  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value)"
    id="addItemInput"
    class="lg-text-input" />

  <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>
  <h2>
    <b>NOTE:</b><i>This page is still under construction, so you may encounter some bugs :)</i>
  </h2>
  <p>Contribute to project at <a href="https://github.com/slim-codes/todo">todo-app</a></p>
  <span style="font-size: 100px">&#9829;</span>
  <span style="font-size: 100px">&#8704;</span>
  <span style="font-size: 100px">&#198;</span>
  <span style="font-size: 100px">&#9775;</span>
  <span style="font-size: 100px">&#9993;</span>
  <span style="font-size: 100px">&#128170;</span>
  <!--workout-->
  <span style="font-size: 100px">💌</span>
  <span style="font-size: 100px">&#127836;</span>
  <!--food-->
</div>
