<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div *ngIf="visible" class="main" [ngClass]="{ 'main-dark': darkMode }">
  <div class="header">
    <h1>To Do List</h1>
    <button class="btn-ghost" (click)="toggleDarkMode()">Dark Mode</button>
  </div>
  <label for="addItemInput" id="greet"></label>
  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    (keyup)="changeTitle($event)"
    id="addItemInput"
    class="lg-text-input"
    [value]="inputTitle" />

  <button class="btn-primary" (click)="addItem(newItem.value); newItem.value = ''">Add</button>
  <div class="btn-wrapper">
    <button class="btn btn-menu" [class.active]="filter === 'all'" (click)="filter = 'all'">
      All
    </button>

    <button class="btn btn-menu" [class.active]="filter === 'active'" (click)="filter = 'active'">
      To Do
    </button>

    <button class="btn btn-menu" [class.active]="filter === 'done'" (click)="filter = 'done'">
      Done
    </button>
  </div>
  <h2>
    {{ TodoList.length }} <span *ngIf="TodoList.length === 1; else elseBlock"> item </span>
    <ng-template #elseBlock>Items</ng-template>
  </h2>
  <div class="card" *ngIf="TodoList.length">
    <ul class="itemsList">
      <!-- Assign each todoItem to the item input in ItemComponent.ts -->
      <li *ngFor="let todoItem of TodoList">
        <!-- TODO: Use event delegation (bubbling) to minimize number of event listeners for each todo item -->
        <!-- NOTE: Why is removeItem(todoItem) equivalent to removeItem($event) -->
        <!-- On receiving item(through remove.emit) event, delete todoItem from list -->
        <!-- $event holds what was passed to the remove event (item) -->

        <!-- <a [routerLink]="['/editor', todoItem.id]"> hh</a> -->
        <div class="todo-item">
          <app-item [item]="todoItem" (remove)="removeItem($event)"></app-item>
        </div>
      </li>
    </ul>
    <!-- <button title="add" class="add-btn">
      <a [routerLink]="['editor']" (click)="(!visible)">hhh</a>
      <span class="material-symbols-outlined"> add </span>
    </button> -->
  </div>

  <blockquote>
    <strong>
      NOTE: This project is still under construction, so you may encounter some bugs while using it
      <span class="emoji">🙃</span></strong
    >
  </blockquote>
  <p>
    Contribute to this project on
    <a href="https://github.com/slim-codes/todo" target="_blank"> github </a
    ><span class="emoji">🤝</span>
  </p>
  <!-- <a href="test.html">tesla</a> -->
  <app-edit></app-edit>
</div>
